/* Font: Inter */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/src/fonts/inter-v12-latin-ext_latin-600.eot');
    src: local(''), url('/src/fonts/inter-v12-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/src/fonts/inter-v12-latin-ext_latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/src/fonts/inter-v12-latin-ext_latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('/src/fonts/inter-v12-latin-ext_latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/src/fonts/inter-v12-latin-ext_latin-600.svg#Inter') format('svg');
    /* Legacy iOS */
}


/* Font: Quicksand */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('/src/fonts/quicksand-v30-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('/src/fonts/quicksand-v30-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/src/fonts/quicksand-v30-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/src/fonts/quicksand-v30-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('/src/fonts/quicksand-v30-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/src/fonts/quicksand-v30-latin-600.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

:root {
    --background-color: #0f0f0f;
    --accent-color: #282a35;
    --text-color: #ffffff;
    --nav-hover-color: #383a45;
}

* {
    color: var(--text-color);
    font-family: "Inter";
}

html,
body {
    background-color: var(--background-color);
    margin: 0;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: "Quicksand";
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

nav li a:hover:not(.active):not(.no_action) {
    background-color: var(--nav-hover-color);
}

.nav_float_right {
    float: right;
}

nav>ul>li>a>i {
    font-size: 100%;
}

#notenapp-logo {
    background-image: url("./src/images/logo.png");
    background-size: contain;
    width: 10vw;
}


/* 
Main content
*/

main {
    padding-top: 3rem;
}

.slide-half {
    min-height: 50vh;
}

#intro {
    background-color: var(--background-color);
    display: grid;
    place-content: center;
}

#intro span {
    background-image: linear-gradient(45deg, #3333ff, #ff6666);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: min(20vmin, 5.5rem);
}

/* 
Question
*/

.qa {
    display: grid;
    place-content: center;
    margin-bottom: 5rem;
}

.qa-group {
    min-width: 600px;
}

.qa-questions-container {
    background-color: #fff;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 1.25rem;
}

.qa-questions-container h2 {
    margin: 0;
    background-image: linear-gradient(45deg, #3333ff, #ff6666);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
}

.qa-question-container {
    cursor: pointer;
    user-select: none;
    border: 1px solid #888;
    padding: 0.5rem;
    border-radius: 0.75rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "qa-question qa-caret"
        "qa-answer qa-answer";
    margin-bottom: 0.5rem;
}

.qa-question-container:last-child {
    margin-bottom: 0;
}

.qa-caret {
    grid-area: qa-caret;
    margin-right: 0.25rem;
    transition: 0.5s;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #000;
}

.qa-question {
    grid-area: qa-question;
}

.qa-answer {
    height: 0px;
    overflow: hidden;
    grid-area: qa-answer;
    width: 600px;
    display: block;
    transition: 0.5s;
    margin-top: 0;
    padding-top: 0;
    border-top: 1px solid transparent;
}

.qa-answer-shown .qa-answer {
    height: fit-content;
    overflow: auto;
    border-image: linear-gradient(#3333ff, #ff6666) 30;
    border-width: 1px 0 0 0;
    border-style: solid;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

.qa-answer-shown .qa-caret {
    rotate: -180deg;
    background-image: linear-gradient(45deg, #3333ff, #ff6666);
}

.qa * {
    color: #0f0f0f;
}

/* 
Footer content
*/

footer {
    width: 100vw;
    background-color: var(--accent-color);
    padding-top: min(4vh, 40px);
    font-family: "Quicksand";
    padding-bottom: 5vh;
}

.footer_row {
    padding: min(4vh, 40px);
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "footer_column_left footer_column_center footer_column_right";
}

.footer_column_left {
    grid-area: footer_column_left;
}

.footer_column_center {
    grid-area: footer_column_center;
}

.footer_column_right {
    grid-area: footer_column_right;
}

.footer_column_title {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.footer_column,
.footer_column li {
    text-align: center;
    padding: 0;
}

.footer_column ul {
    font-family: "Quicksand";
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 0.25rem;
    overflow: hidden;
}

.footer_copyright_notice {
    text-align: center;
    padding-top: 1.5rem;
}

#footer_imprint_note a {
    margin: 0.25rem 0;
    display: inline-block;
}

#footer_contactform textarea,
#footer_contactform input {
    display: block;
    width: 80%;
    height: 1.5rem;
    margin: auto;
    border: 0;
    background-color: var(--accent-color);
}

#footer_contactform textarea {
    height: 2rem;
    border-width: 2px;
    resize: vertical;
}

#footer_contactform input {
    border-bottom: var(--nav-hover-color) 1px solid;
    border-width: 0 0 2px 0;
}

#footer_contactform textarea:focus,
#footer_contactform input:focus {
    outline: 0;
    border-style: solid;
    border-image-source: linear-gradient(90deg, #b88e03, #118a2b);
    border-image-slice: 1;
}

#footer_contactform input[type="submit"] {
    border-radius: 0;
    height: 2rem;
    cursor: pointer;
}

#footer_contactform input[type="submit"]:hover {
    border-radius: 0.5rem;
    background-image: linear-gradient(90deg, #118a2b, #3333ff);
}