body {
    background-color: rgb(23, 23, 1);
    color: #ffffff;
}

#version-title {
    height: 30vh;
    background-color: #c7aa2b;
    display: grid;
    place-items: center;
    font-size: 7.5vmin;
    color: #ffffff;
}