body {
    background-color: rgb(6, 8, 23);
    color: #ffffff;
}

#version-title {
    height: 30vh;
    background-color: #f89c0e;
    display: grid;
    place-items: center;
    font-size: 7.5vmin;
    color: #ffffff;
}